.clearfix {
    *zoom: 1;
    font-size: $font-size;
    font-family: Arial;
    color:$default-font-color;

    &:before, 
        &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    @include border-box;
}

input[type="button"]{
   outline:none;
   cursor: pointer;
}
input[type="button"]::-moz-focus-inner {
   border: 0;
}